.navbar {
  /* height: 100px; */
  /* margin: 0px;
  padding: 0px;
  border: 0px; */
  padding-left: 0px;
  /* display: grid; */
  /* grid-template-columns: repeat(10, 1fr); */
}
.logo {
  position: absolute;
  margin-top: 50px;
  padding-top: 0px;
  margin-right: 0px;
  max-height: 100px;
}
.navbar-brand .favo {
  margin-left: 90px;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 90px;
  margin-bottom: 0;
  list-style: none;
}
